# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
/.pnpm-debug.log

# Typescript
*.tsbuildinfo

# Vite
.vite/

# Build output
/dist/
/build/

/*.tgz

# IDE/Editor
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
*.log.*

# Environment files
.env
.env.local
.env.*.local

# Test coverage
coverage/
*.lcov

# Storybook build output
/storybook-static/

# Jest
jest/

# TypeScript
tsconfig.tsbuildinfo
